AAA_Teaching Schedule_2019_20 _FOR_FACULTY_4_30_19.xlsx
Accomodations/
Class_list/
Demo/
EndTerm/
Grading/
HomeworkAssignments/*.pdf
HomeworkAssignments/Homework_Assignment_7_Question_2_correction.png
HomeworkAssignments/Student_homework_submission/
HomeworkAssignments/rainfall.csv
MidTerm/
MyNotes/
Quiz/
References/
SCPD/
Stats_Dept_Roster_9_2019.xlsx
stats191_2020/
Student_evaluation/
Textbook/
*.Rhistroy
LectureNotes/
